<%= error_messages_for(@user) %>
 
<table summary = "User form fields">
	<tr>
		<th> <%= f.label(:first_name, "First Name") %></th>
		<td><%= f.text_field(:first_name) %></td>
	</tr>

	<tr>
		<th> <%= f.label(:last_name, "Last Name") %></th>
		<td><%= f.text_field(:last_name) %></td>
	</tr>
	 <div class="field">
	    <th> <%= f.label :image %> </th>
	    <td> <%= f.file_field :image %> </td>
    </div>
	<tr>
		<th> <%= f.label(:username, "User Name") %></th>
		<td><%= f.text_field(:username) %></td>
	</tr>

	<tr>
		<th> <%= f.label(:email) %></th>
		<td><%= f.text_field(:email) %></td>
	</tr>
	<tr>
		<th> <%= f.label(:bio) %></th>
		<td><%= f.text_area(:bio) %></td>
	</tr>
	<tr>
		<th> <%= f.label(:role) %></th>
		<td><%= f.select :role, User.roles.keys.to_a %></td>
	</tr>
	<tr>
		<th> <%= f.label(:password) %></th>
		<td><%= f.password_field(:password) %></td>
	</tr>

	<tr>
		<th> <%= f.label(:password_confirmation) %></th>
		<td><%= f.password_field(:password_confirmation) %></td>
	</tr>

	<tr>
		<th><%= f.label(:created_at) %> </th>
		<td> <%= f.datetime_select(:created_at, :order => [:month, :day, :year]) %> </td>
	</tr>
	
</table>