<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="users show">
	<h2>Show User</h2>
	<td> <%= link_to image_tag(@user.image.url(:medium)), @user.image.url %></td>

	<table summary="Subject detail view">
		<tr>
			<th>First Name</th>
			<td><%= @user.first_name %></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><%= @user.last_name %></td>
		</tr>
		<tr>
			<th>Usernme</th>
			<td><%= @user.username %></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<th>Role</th>
			<td><%= @user.role %></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= @user.created_at %></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= @user.updated_at %></td>
		</tr>
	</table>
</div>

<div>
	<%= link_to("Create Class", {:controller => 'courses', :action => 'new', :id => @user.id}, :class => 'static link') %>
</div>
