
<div class="users show">
	<h2>Show User</h2>

	<%= link_to image_tag(@user.image.url(:medium), id: "center"), @user.image.url %> 
	<h1> <%= @user.first_name %> <%= @user.last_name %> </h1>

	<div class = "user bio">
		<%= @user.bio %>
	</div>




<div class="user classes">
	</br>
	<h1> Classes I Teach </h1>
	</br>
	<% @user.courses.sorted.each do |course| %>
		<%= link_to(course.name, :controller => 'courses', :action => "show", :id => course.id) %> </br>
	<% end %>
	<div class="create class">
		<%= link_to("Create Class", {:controller => 'courses', :action => 'new', :id => @user.id}, :class => 'static link') %>
	</div>

</div>
