<!DOCTYPE html>
<html>
	<head>
		<title>edYOUcate<%= " | #{@page_title} " if @page_title %> </title>
		<%= stylesheet_link_tag('application', :media => 'all' ) %>



	</head>
	<body>
		<div id="header">
			<%= image_tag('edyoucatelogo.png', :alt => 'edyoucate') %>
			<div id="login">
			<% unless user_signed_in? %>
				<%= link_to("Login", {:controller => 'access', :action => 'login'}) %>	
				<%= link_to("Create Account", {:controller => 'users', :action => 'new'}) %>
			<% else %>
				<%= link_to("Logout", {:controller => 'access', :action => 'logout'}) %>	
				<%= link_to("Your Account", {:controller => 'users', :action => 'show', :id => session[:user_id]}) %>
			<% end %>
		</div>
		</div>
		
		<div id="main">
			<div id="content">
				<%= yield %>
			</div>
			<div class="clear"></div>
		</div>
		<div id="footer">
			<%= link_to("About", {:action => 'about'}, :class => 'static link')%>
			<%= link_to("Contact", {:action => 'about'}, :class => 'static link')%>
			<%= link_to("Privacy", {:action => 'privacy'}, :class => 'static link')%>
			<%= link_to("Terms", {:action => 'terms'}, :class => 'static link')%>
			<p id="copyright">&copy; edyoucate.com </p>
		</div>
	</body>
</html>